@import 'normalize.css';
@import './vars.scss';
@import './fonts.scss';
@import './container.scss';
@import './utils.scss';
@import './themes.scss';

@import './mixins.scss';

html[data-theme='light'] {
    @include spread-map($theme-map-light);
}

html[data-theme='dark'] {
    @include spread-map($theme-map-dark);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.rubik-400 {
    font-weight: 400;
}

.rubik-500 {
    font-weight: 500;
}

.rubik-600 {
    font-weight: 600;
}

.tracker__main {
    padding: 30px 0 128px 0;
    background-image: url('./../../public/images/pattern-bg@2x.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tracker__title {
    margin: 0 0 28px;
    font-weight: 600;
    font-size: 31px;
    color: $white;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    position: relative;
    border-radius: 15px;
    width: 100%;
    max-width: 555px;
    overflow: hidden;

    &__input {
        width: 100%;
        padding: 18.5px 64px 18.5px 24px;
        color: $very-dark-gray;
        font-size: 18px;
        letter-spacing: 0.01em;

        cursor: pointer;
    }

    &__button {
        position: absolute;
        inset-block: 0;
        right: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        max-width: 555px;
        border: 0;
        padding: 18px 25px;

        background-color: #000;

        transition: all 0.3s ease;

        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.info {
    width: calc(100% - #{$container-paddings} * 2);
    max-width: 1110px;
    padding: 36px 32px;

    display: flex;

    position: absolute;
    bottom: -100%;
    transform: translateY(50%);
    z-index: 1;

    border-radius: 15px;
    background-color: var($--theme-primary);
    // background-color: $white;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}

.info-block {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;

    &:not(:first-of-type) {
        padding-inline: 32px;
    }

    &:first-of-type {
        padding-right: 32px;
    }

    &:not(:last-of-type) {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            inset-block: 7px;
            right: 0;
            width: 1px;
            height: 90%;
            background-color: $dark-gray;
        }
        // border-right: 1px solid #000;
        // border-bottom: #000;
    }

    &__title {
        margin: 0;
        margin-bottom: 13px;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $dark-gray;
    }

    &__info {
        margin: 0;
        font-size: 26px;
        letter-spacing: -0.01em;
        color: $very-dark-gray;
    }
}

#map {
    z-index: 0;
}

#theme-switcher {
    background-color: $very-dark-gray;
    color: $white;
    position: fixed;
    top: 12px;
    right: 12px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .info {
        display: grid;
        grid-template-columns: repeat(2, minmax(50%, 1fr));
        gap: 32px 24px;

        max-width: 899px;

        & .info-block {
            padding-inline: 0;
            padding-right: 32px;

            &:not(:last-of-type) {
                &::after {
                    width: 0px;
                }
            }

            &:nth-child(2n) {
                &::after {
                    width: 1px;
                }
            }
        }
    }
}

@media screen and (max-width: 989px) {
    .tracker__main {
        padding-block: 30px;
    }

    .tracker__form {
        margin-bottom: 28px;
    }

    .info {
        width: 100%;
        position: relative;
        transform: translateY(0);
    }
}

@media screen and (max-width: 559px) {
    .info {
        --row-gap: 36px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: var(--row-gap);

        & .info-block {
            &::after {
                width: 0px;
            }

            &:not(:last-of-type) {
                &::after {
                    inset-inline: 0;
                    inset-block: unset;
                    bottom: calc(0px - var(--row-gap) / 2);
                    width: 100%;
                    height: 1px;
                }
            }
        }
    }
}
